.react-calendar {
    width: 100%;
    max-width: 350px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    color: #333; 
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .react-calendar__navigation {
    background-color: #f5f5f5; 
    color: #333; 
    border-bottom: 1px solid #ccc; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    border: none;
    font-weight: bold;
    color: #333; 
  }
  
  .react-calendar__month-view__weekdays {
    text-transform: uppercase;
    color: #333; 
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day {
    color: #333; 
    background-color: #f9f9f9; 
    border-radius: 5px;
  }
  
  .react-calendar__tile {
    background-color: #ffffff;
    border-radius: 5px; 
    color: #333;
    font-weight: bold;
    margin: 4px; 
  }
  
  .react-calendar__tile--active {
    background: #d10000; 
    color: white;
  }
  
  .react-calendar__tile--now {
    background: #ffdede;
    color: #d10000;
  }
  
  .react-calendar__tile--hasActive {
    background: #d10000;
  }
  
  .react-calendar__tile:hover {
    background: #e6e6e6;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffdede;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #b30000;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #f5f5f5;
    color: #d10000;
  }
  